<div class="container" ng-init="init()">
    <h1>Edit Information</h1>
    <form>
        <div class="form-group">
            <label for="firstNameField">First Name</label>
            <input type="string" class="form-control" ng-model= "edit.first_name" id="firstNameField" placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <label for="lastNameField">Last Name</label>
            <input type="string" class="form-control" ng-model= "edit.last_name" id="lastNameField" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
            <label for="favouriteColoourField">Favourite Colour address</label>
            <select class="form-control" id="favouriteColoourField" ng-model= "edit.favourite_colour">
                <option value="red">Red</option>
                <option value="yellow">Yellow</option>
                <option value="white">White</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
            </select>
        </div>
    
        <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        <button class="btn btn-secondary" ng-click="cancel()">Cancel</button>
    </form>
</div>