<h1>Sign In</h1>
<form>
    <div class="form-group">
        <label for="emailField">Email address</label>
        <input type="email" ng-model="email" class="form-control" id="emailField" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="passwordField">Password</label>
        <input type="password" ng-model="password" class="form-control" id="passwordField" placeholder="Password">
    </div>
    <!-- ERROR MESSAGE -->
    <p ng-if="message" style="color: red">{{message}}</p>

    <button type="submit" ng-click="submit()"class="btn btn-primary">Submit</button>
</form>