<div >
<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-init="init()">
    <a class="navbar-brand" href="#">Coding Challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" ng-click="changeHomeView('profile')">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="changeHomeView('home')">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="signOut()">Sign Out</a>
            </li>
        </ul>
    </div>
  </nav>
  <div ng-show="homeView === 'profile'">
    <profile ></profile>
  </div>

<div ng-show="homeView ==='home'" class="container">
  <h1>Activity Log (Page {{logPage}} of {{numPages}})
  </h1>
  <table class="table" ng-show="logs">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Activity ({{numLogs}})</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="log in logs">
          <td>{{log.ts | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{log.activity}}</td>
        </tr>
        
      </tbody>
      <tfoot>
          <tr>
            <td style="text-align: center">
              <!-- PAGINATION NAVIGATION CONTROLS -->
                <nav>
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link"  ng-show="logPage !== 1" ng-click="viewLogPage('prev')">Previous</a></li>
                      <li class="page-item" ng-repeat="page in pages" ng-class="{'active': logPage === page}"><a class="page-link"  ng-click="viewLogPage(page)">{{page}}</a></li>
                      <li class="page-item"><a class="page-link" ng-show="logPage !== numPages" ng-click="viewLogPage('next')">Next</a></li>
                    </ul>
                  </nav>
            </td>
              
          </tr>
      </tfoot>
    </table>
    <div style="margin: auto;">
        
    </div>
    
</div>
</div>