<div class="container" ng-init="init()">
    <h1>Reset Password</h1>
    <form>
        <div class="form-group">
            <label for="passwordField">Password</label>
            <input type="password" ng-model="password" class="form-control" id="passwordField" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirmPasswordField">Confirm Password</label>
            <input type="password" ng-model="confirmPassword" class="form-control" id="confirmPasswordField" placeholder="Confirm Password">
        </div>

        <p style="color: red;">{{message}}</p>
    
        <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        <button class="btn btn-secondary" ng-click="cancel()">Cancel</button>
    </form>
</div>