<div class="container" ng-init="init()">
    <div class="row">
      <div class="col-sm">
        <div>
            <img src={{profilePicUrl}}  class="img-fluid" alt="Responsive image" height="400" width="400">
            <h1 style="text-align: center">{{profile.first_name}} {{profile.last_name}}</h1>
        </div>
      </div>
      <div class="col-sm">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Information</th>
                  <th scope="col">
                    
                  </th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td>First Name</td>
                <td>{{profile.first_name}}</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{profile.last_name}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{profile.email}}</td>
              </tr>
              <tr>
                <td>Favourite Colour</td>
                <td>{{profile.favourite_colour}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                    <button type="button" class="btn btn-secondary" ng-click="editInfo()">Edit Information</button>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary" ng-click="sendResetPassword()">Reset Password</button>
                    
                </td>
              </tr>
              <tr>
                <p style="color:blue">{{message}}</p>
              </tr>
            </tfoot>
          </table>
      </div>


    </div>
  </div>


