<h1>Sign Up</h1>
<form name="form">
        <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" ng-model= "email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="firstNameField">First Name</label>
                <input type="string" class="form-control" ng-model= "first_name" id="firstNameField" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="lastNameField">Last Name</label>
                <input type="string" class="form-control" ng-model= "last_name" id="lastNameField" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
                <label for="favouriteColoourField">Favourite Colour address</label>
                <select class="form-control" id="favouriteColoourField" ng-model= "favourite_colour">
                    <option value="red">Red</option>
                    <option value="yellow">Yellow</option>
                    <option value="white">White</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" ng-model= "password" id="exampleInputPassword1" placeholder="Password">
            </div>
    
            <div class="form-group">

        <button type="button" class="btn btn-secondary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
        ngf-accept="'image/*'" ngf-max-size="5MB" ngf-min-height="100" 
        ngf-resize="{width: 300, height: 300}">Select Profile Picture</button>
        Profile Picture: <img ngf-thumbnail="file || '/thumb.jpg'" height="300px" width="300px">
    </div>
    <!-- ERROR MESSAGE -->
    <p style="color: red">{{message}}</p>

    
    <button type="submit" class="btn btn-primary" ng-click="submit()">submit</button>
</form>
