
<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-init="landingView = 'video'">
    <a class="navbar-brand" href="#">Coding Challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" ng-click="changeView('signup')">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="changeView('signin')">Sign In</a>
            </li>
        </ul>
    </div>
  </nav>
  <div ng-show="landingView">
  <sign-in ng-show="landingView === 'signin'"></sign-in>
  <sign-up ng-show="landingView === 'signup'"></sign-up>
</div>
<div ng-show="landingView ==='video'">
  <div ng-controller="HomeCtrl as controller">
  <videogular vg-theme="controller.config.theme">
    <vg-media vg-src="controller.config.sources"
        vg-tracks="controller.config.tracks">
    </vg-media>
    <vg-controls>
      <vg-play-pause-button></vg-play-pause-button>
      <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      </vg-scrub-bar>
      <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
      <vg-volume>
        <vg-mute-button></vg-mute-button>
        <vg-volume-bar></vg-volume-bar>
      </vg-volume>
      <vg-fullscreen-button></vg-fullscreen-button>
    </vg-controls>

    <vg-overlay-play></vg-overlay-play>
    <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
  </videogular>
</div>
</div>
